body {
    background-color: #3fa3dda6;
    overflow-x: hidden;
}

input,
.val {
    text-align: right;
}

p {
    margin: 0;
    white-space: nowrap;
}

button {
    cursor: pointer;
}

/* Para navegadores modernos */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para o Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

#totalScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_cabecalho {
    height: 100%;
    width: 40%;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.title {
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: #fcfeff96;
    border-radius: 16PX;
    width: auto;
    height: auto;
}

.cont_cabecalho h1 {
    background-color: #fcfeff96;
    border-radius: 16px;
    border: 1px solid black;
    padding: 50px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.cont_calc {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont_corpo {
    height: auto;
    width: 70%;
    background-color: #fcfeff96;
    border-radius: 16px;
    padding: 10px;
    overflow: hidden;
}

.cont_tabela {
    text-align: center;
    border-radius: 16px;
    border: 1px solid black;
    padding: 10px;
    height: 97%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

#topVal {
    background-color: #3fa3dda6;
    border: 1px solid black;
    padding: 3px;
}

#topItem {
    background-color: #3fa3dda6;
    border: 1px solid black;
    padding: 3px;
}

#td-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#checkbox-container {
    align-items: center;
    display: flex;
    gap: 20px;
}

.add-checkbox {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#alert {
    font-size: small;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#addbens {
    margin: 10px;
}

.val {
    background-color: #abdcf048;
    border: 1px solid black;
    font-size: small;
    padding: 3px;
}

.item {
    background-color: #abdcf048;
    border: 1px solid black;
    text-align: justify;
    font-size: small;
    padding: 3px;
    width: 73%;
}

input {
    width: 95%;
}

#funrejus-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#doacao-aviso-funrejus,
#doacao-aviso-itcmd,
#meacao-aviso-itcmd {
    display: none;
    color: #ff0000;
}

#contBens {
    display: inline;
}

.itbiitcmd {
    float: right;
    margin: 0 0 0 5px;
}

#itcmd-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#itcmd-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 105px;
}

#itcmd-text2 {
    white-space: nowrap;
}

#print {
    display: flex;
    justify-content: space-around;
}

#calcular,
#printCompletoBtn,
#printResumoBtn,
#limparBtn {
    margin: 10px;
    width: 180px;
    height: 40px;
}

#btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media print {
    body.printResumo .corpo {
        display: none;
        /* Imprime o resumo */
    }

    body.printResumo #transparent {
        visibility: hidden;
        /* Imprime o resumo */
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #totalScreen {
        width: 90%;
        /* Reduz a largura total para caber melhor na página */
        margin: 0 auto;
    }

    .cont_cabecalho,
    .cont_calc,
    .cont_corpo {
        width: 100%;
        /* Mantém a largura dos contêineres proporcional */
        margin: 0;
        padding: 0;
    }

    .cont_tabela {
        width: 96%;
        /* Mantém a largura dos contêineres proporcional */
    }

    table {
        width: 100%;
        /* Faz a tabela ocupar a largura disponível */
        border-collapse: collapse;
        font-size: small;
    }

    th,
    td {
        word-wrap: break-word;
        /* Permite quebra de linha automática dentro das células */
    }

    button {
        display: none;
    }
}
