body {
    background-color: #3fa3dda6;
}

input,
.val {
    text-align: right;
}

button {
    cursor: pointer;
}

/* Para navegadores modernos */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para o Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

#totalScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_cabecalho {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.title {
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: #fcfeff96;
    border-radius: 16PX;
    width: auto;
    height: auto;
}

.cont_cabecalho h1 {
    background-color: #fcfeff96;
    border-radius: 16px;
    border: 1px solid black;
    padding: 50px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.cont_calc {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cont_corpo {
    height: auto;
    width: 70%;
    background-color: #fcfeff96;
    border-radius: 16px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.cont_tabela {
    text-align: center;
    border-radius: 16px;
    border: 1px solid black;
    padding: 10px;
    height: 97%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

#topVal {
    background-color: #3fa3dda6;
    border: 1px solid black;
    padding: 3px;
}

#topItem {
    background-color: #3fa3dda6;
    border: 1px solid black;
    padding: 3px;
}

.add-garagem {
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#alert {
    font-size: small;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#addbens {
    margin: 10px;
}

.val {
    background-color: #abdcf048;
    border: 1px solid black;
    font-size: small;
    padding: 3px;
}

.item {
    background-color: #abdcf048;
    border: 1px solid black;
    text-align: justify;
    font-size: small;
    padding: 3px;
    width: 73%;
}

input {
    width: 95%;
}

#contBens {
    display: inline;
}

.itbiitcmd {
    float: right;
}

#print {
    display: flex;
    justify-content: space-around;
}

#calcular,
#printCompletoBtn,
#printResumoBtn {
    margin: 10px;
    width: 180px;
    height: 40px;
}

@media print {
    body.printResumo .corpo {
        display: none; /* Imprime o resumo */
    }

    body.printResumo #transparent {
        visibility: hidden; /* Imprime o resumo */
    }

    .cont_cabecalho {
        display: none;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #totalScreen {
        width: 90%;
        /* Reduz a largura total para caber melhor na página */
        margin: 0 auto;
        /* Centraliza o conteúdo */
        padding: 10px;
    }

    .cont_cabecalho,
    .cont_calc,
    .cont_corpo {
        width: 100%;
        /* Mantém a largura dos contêineres proporcional */
        margin: 0;
        padding: 0;
    }

    .cont_tabela {
        width: 100%;
        /* Mantém a largura dos contêineres proporcional */
        margin: 0;
        padding: 10px;
    }

    table {
        width: 100%;
        /* Faz a tabela ocupar a largura disponível */
        border-collapse: collapse;
        font-size: small;
    }

    th,
    td {
        word-wrap: break-word;
        /* Permite quebra de linha automática dentro das células */
    }

    button {
        display: none;
    }

    @page {
        size: A4;
        /* Garante que o tamanho da página seja padrão A4 */
        margin: 10mm;
        /* Define margens consistentes para a impressão */
    }
}
